/* fonts */
@font-face{
	font-family: 'Kollektif';
	src: url('../fonts/Kollektif.ttf');
}
@font-face{
	font-family: 'Kollektif-Bold';
	src: url('../fonts/Kollektif-Bold.ttf');
}
@font-face{
	font-family: 'Kollektif-Italic';
	src: url('../fonts/Kollektif-Italic.ttf');
}
@font-face{
	font-family: 'Kollektif-BoldItalic';
	src: url('../fonts/Kollektif-BoldItalic.ttf');
}
@font-face{
	font-family: 'Gilroyextrabold';
	src: url('../fonts/Gilroyextrabold.ttf');
}
@font-face{
	font-family: 'Gilroylight';
	src: url('../fonts/Gilroylight.ttf');
}
@font-face{
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy-Regular.ttf');
}
@font-face{
	font-family: 'Gilroy-Semibold';
	src: url('../fonts/Gilroy-Semibold.ttf');
}
/* fonts */
/* Specification */
*{
	margin: 0;
	padding: 0;
	line-height: 1;
}
img, button, a, li{
	display: block;
	cursor: pointer;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
button:focus{
	outline: none;
}
/* colors
#293E40
#81B5A1
*/

/* Specification */

/* Header */
.header {
	background-image: url('../img/header__bg.jpg');
	width: 100%;
	height: 113vh;
	padding-top: 100px;
	position: relative;
	background-size: cover;
	background-position: center center;
}
.wrap {
	width: 100%;
	padding: 0 40px;
	box-sizing: border-box;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 45px;
	box-sizing: border-box;
	transition: all 1s ease;
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
	transition: all 1s ease;
	transition-delay: 0.5s;
}
.header__logo {
	width: 40px;
}
.header__menu {
	width: 490px;
	margin-left: 30px;
}
.menu__list {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}
.list__link {
	font-family: 'Gilroy-Regular';
	font-size: 16px;
	color: #293E40;
	transition: all 0.3s ease;
}
.list__item span{
	position: absolute;
	top: 100px;
	color: transparent;
}
.list__item:hover span{
	color: #204752;
	top: 60px;
}
.header__login {
	width: 230px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}
.start {
	width: 120px;
	text-align: center;
	font-size: 16px;
	font-family: 'Gilroy-Regular';
	padding: 10px 0;
	background-color: #293E40;
	border: 1px solid transparent;
	color: #fff;
	transition: all 0.3s ease;

}
.header__icon__block{
	display: flex;
	justify-content: flex-end;
	font-size: 26px;
}
.header__search {
	margin-right: 15px;
	cursor: pointer;
}
.header__user {
	margin-left: 15px;
	cursor: pointer;
}
.header__title {
	margin-top: 15%;
	font-family: 'Gilroyextrabold';
	font-size: 40px;
	line-height: 55px;
	width: 40%;
	color: #293E40;	
}
.header__block {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 545px;
	padding: 40px 40px;
	background-color: #293E40;
	color: #fff;
	font-family: 'Gilroy-Regular';
	font-size: 24px;
	box-sizing: border-box;

}
.header__block__text {
	line-height: 34px;
}
.header__btn__block {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ceo__btn {
	position: relative;
	width: 200px;
	text-align: center;
	background-color: #293E40;
	color: #fff;
	font-family: 'Gilroy-Semibold';
	font-size: 18px;
	padding: 22px 0;
	border: 2px solid #81B5A1;
	transition: all 0.3s ease;
}
.bg_an{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	transition: all 0.3s ease;
}
.absolute{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	z-index: 1;
	text-align: center;
	transform: translate(-50%, -50%);
}
.ceo__btn:hover{
	color:#293E40;
}
.ceo__btn:hover .bg_an{
	background-color: #81B5A1;
	width: 100%;
}
.video__btn {
	position: relative;
	text-align: left;
	width: 200px;
	font-family: 'Gilroy-Semibold';
	font-size: 18px;
	background-color: #293E40;
	color: #fff;
	padding: 15px 0px;
	border: 0px solid #81B5A1;
	transition: all 0.3s ease;
}
.video__btn svg{
	position: absolute;
	bottom: 8px;
	right: 55px;
	height: 25px;
	fill: #81B5A1;
	transition: all 0.3s ease;
}
.video__btn:hover svg{
	transform: scaleX(1.5) translateX(8%);
}
.contact__demo{
	position: fixed;
	bottom: 50px;
	right: 10px;
	font-family: 'Gilroy-Semibold';
	font-size: 18px;
	color: #fff;
	width: 125px;
}
.contact__demo_block{
	padding: 25px 0;
	width: 100%;
	background-color: #293E40;
	text-align: center;
	margin-bottom: 5px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(41,62,64,1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(41,62,64,1);
	box-shadow: 0px 2px 5px 0px rgba(41,62,64,1);
	cursor: pointer;
	transition: all 0.3s ease;
}
.contact__demo_block:hover{
	background-color: #54696B;
}
/* scrol */
.transparent{
	background-color: transparent;
}
.transparent__content{
	opacity: 0;
}
/* scrol */
/* Header */